/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  display: grid;
  gap: 40px;
}

.header.decorated-zone {
  display: grid;
  block-size: 100%;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: solid 1px var(--accent-color);
  border-block-start: solid 1px var(--accent-color);
  inset-block-start: var(--main-gap);
  inset-inline-end: var(--main-gap);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: solid 1px var(--accent-color);
  border-block-end: solid 1px var(--accent-color);
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
}

.record {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 25px;
  justify-self: end;
  position: absolute;
  margin-block-start: 10px;
  margin-inline-end: 19px;
}

.record::after {
  content: "";
  box-shadow: 0px 0px 4px 2px #ff0070;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 18px;
  justify-self: end;
  margin-block-start: 74px;
  margin-block-end: 6px;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  background-color: transparent;
  border: solid 1px transparent;
  padding: 3.5px 13px;
}

.header__theme-menu-button_active {
  background-color: transparent;
  border: solid 1px var(--accent-color);
  padding: 3.5px 13px;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--nav-hover-color);
  padding: 3.5px 13px;
}

.header__theme-menu-button:focus-visible {
  border: solid 1px transparent;
  border-bottom: solid 1px var(--accent-color);
  padding: 3.5px 13px;
  outline: none;
}

.logo__title {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 83%;
  margin-inline: var(--main-gap);
}

.header__text {
  background-color: var(--title-decor);
  color: var(--main-heading-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-inline: var(--main-gap);
}

.content {
  margin-inline: var(--main-gap);
}

.content-section:not(:last-child) {
  margin-block-end: 50px;
}

.content-section__title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 23.4px;
  margin-block-end: 20px;
}

.text-block {
  margin-block-end: 20px;
}

.link__content_span {
  text-decoration: none;
}

.link__content_span:hover {
  border-block-end: solid 1px var(--main-text-color);
}

.link__content_span:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 2px;
}

.text-block__title,
.text-block__subtitle {
  color: var(--main-heading-color);
  background-color: var(--title-decor);
  font-family: var(--font-family);
  font-style: var(--main-text-size);
  line-height: 23.4px;
  margin-block-end: var(--main-gap);
  font-style: var(--main-text-size);
}

.text-block__title {
  font-weight: 700;
}

.text-block__title.advices {
  margin-block-end: 20px;
}

.text-block__subtitle {
  font-weight: 400;
  letter-spacing: 1.2px;
}

.text-block__content {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 23.4px;
}

.text-block__content_span {
  text-shadow: 2px 2px rgba(255, 0, 112, 1);
}

.list-item {
  margin-block-end: 20px;
}

.gallery {
  display: grid;
}

.gallery__images {
  display: grid;
  gap: var(--main-gap);
}

.gallery__image {
  width: 100%;
}

.footer.decorated-zone {
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  min-block-size: 667px;
}

.logo__title.logo-footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}
