/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
  display: grid;
  gap: 40px;
}

@media (width >=768px) {
  .page {
    gap: 60px;
  }
}

.header.decorated-zone {
  display: grid;
  block-size: 100%;
  min-block-size: 668px;
  padding-inline: var(--main-gap);
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
}

@media (width >=768px) {
  .header.decorated-zone {
    min-block-size: 1024px;
  }
}

@media (width >=1024px) {
  .header.decorated-zone {
    min-block-size: 768px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: solid 1px var(--accent-color);
  border-block-start: solid 1px var(--accent-color);
  top: 10px;
  right: 10px;
}

@media (width >=768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: solid 1px var(--accent-color);
  border-block-end: solid 1px var(--accent-color);
  inset-block-end: var(--main-gap);
  inset-inline-start: var(--main-gap);
}

.record {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 25px;
  justify-self: end;
  position: absolute;
  top: 10px;
  right: 20px;
}

@media (width >= 768px) {
  .record {
    top: 20px;
    right: 30px;
  }
}

.record::after {
  content: "";
  box-shadow: 0px 0px 4px 2px #ff0070;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 18px;
  justify-self: end;
}

@media (width >=768px) {
  .header__theme-menu {
    transform: translateY(10px);
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    transform: none;
    justify-self: center;
    align-self: start;
    margin-block-start: 20px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
    display: flex;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  border: solid 1px transparent;
  padding: 3.5px 13px;
}

.header__theme-menu-button_active {
  background-color: transparent;
  border: solid 1px var(--accent-color);
  padding: 3.5px 13px;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--nav-hover-color);
  padding: 3.5px 13px;
}

.header__theme-menu-button:focus-visible {
  border: solid 1px transparent;
  border-bottom: solid 1px var(--accent-color);
  padding: 3.5px 13px;
  outline: none;
}

.logo__title {
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 83%;
}

@media (width >= 768px) {
  .logo-header {
    justify-self: start;
    transform: translateX(-20px);
  }
}

.header__text {
  background-color: var(--title-decor);
  color: var(--main-heading-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media (width >= 768px) {
  .header__text {
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__text {
    max-width: 491px;
  }
}

.header_block_text {
  transform: translateY(-10px);
}

.content {
  padding-inline: var(--main-gap);
}

.content-section:not(:last-child) {
  margin-block-end: 50px;
}

@media (width >= 768px) {
  .content-section:not(:last-child) {
    margin-block-end: 80px;
  }
}

@media (width >= 768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .content-section.what {
    grid-template-columns: 1fr;
  }
}

@media (width >= 1024px) {
  .what_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 768px) {
  .content-section__title {
    max-width: 236px;
    margin-inline-end: 20px;
    margin-block-end: 20px;
  }
}

@media (width >= 1024px) {
  .content-section__title {
    max-width: 315px;
  }
}

.content-section__title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 23.4px;
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.link__content_span {
  text-decoration: none;
}

.link__content_span:hover {
  border-block-end: solid 1px var(--main-text-color);
}

.link__content_span:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 2px;
}

.text-block__title,
.text-block__subtitle {
  color: var(--main-heading-color);
  background-color: var(--title-decor);
  font-family: var(--font-family);
  font-style: var(--main-text-size);
  line-height: 23.4px;
  margin-block-end: 10px;
  font-style: var(--main-text-size);
}

.text-block__title {
  font-weight: 700;
}

.text-block__title.advices {
  margin-block-end: 20px;
}

.text-block__subtitle {
  font-weight: 400;
  letter-spacing: 1.2px;
}

.text-block__content {
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 23.4px;
}

.text-block__content_span {
  text-shadow: 2px 2px rgba(255, 0, 112, 1);
}

.list-item {
  margin-block-end: 20px;
}

.gallery {
  display: grid;
}

.gallery__images {
  display: grid;
  gap: var(--main-gap);
}

.gallery__image {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

@media (width >= 768px) {
  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image:first-of-type {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }
  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }
  .gallery__image:last-of-type {
    grid-column: span 2;
  }
}

.footer.decorated-zone {
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  min-block-size: 667px;
  padding-inline: var(--main-gap);
}

@media (width >= 768px) {
  .footer.decorated-zone {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .footer.decorated-zone {
    min-block-size: 768px;
  }
}

.logo__title.logo-footer {
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
}
